<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharpNET.Utilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SharpNET.Utilities.Properties.Settings>
            <setting name="ProtectedKey" serializeAs="String">
                <value>E4-94-90-A1-00-9C-0D-AC-F9-2A-BD-C1-00-10-87-07-49-55-10-37-D6-D0-6A-B3-3E-12-3C-51-1A-AB-4E-29</value>
            </setting>
        </SharpNET.Utilities.Properties.Settings>
    </applicationSettings>
</configuration>